<!--<link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/nova-light/theme.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />-->

<div style="text-align:center">
  <h1>
     Angular App
  </h1>

   <a routerLinkActive="active" routerLink="">People</a>
   <a routerLinkActive="active"  routerLink="/data">All Data</a>
   <a routerLinkActive="active"  routerLink="/add">Add People</a>

  <router-outlet></router-outlet>
  


